.Order {
  width: 80%;
  border: solid 10x #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 10px;
  margin: 10px auto;
  box-sizing: border-box;
}
.Order span{
  text-transform: capitalize;
  display: inline-block;
  margin: 0 8px;
  border: 1px solid #ccc;
  padding: 5px;
}

@media (max-width: 605px) {
  .Order {
    text-align: center;
  }

  .Order span{
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
  }
}
